@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

@font-face {
    font-family: nanumgothic;
    src: url(font/nanumgothic-webfont.woff) format('woff'); /* 나눔고딕 폰트 경로 수정 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nanumgothic; /* 기본 폰트를 나눔고딕으로 설정 */
    font-weight: bold; /* 기본 폰트를 볼드체로 설정 */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #C6C6C6; /* 배경색을 #C6C6C6으로 설정 */
    position: relative;
}

.header {
    width: 80%;
    height: 80px;
    position: absolute;
    top: 15px;
    left: 40px;
}

.box {
    position: absolute;
    background-color: #B0B0B0; /* 박스의 배경색을 #B0B0B0으로 설정 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
    padding: 20px;
    border-radius: 3px;
}

/* 경고창 스타일 및 텍스트 색상 */
.warning {
    width: 793px;
    height: 50px;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B0B0B0; /* 경고 박스의 배경색을 #B0B0B0으로 설정 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
    font-size: 18px; /* 텍스트 크기 설정 */
}

/* 경고창의 텍스트 색상이 #B30000으로 변경되는 클래스 */
.warning.red {
    color: #B30000; /* 경고창 텍스트 색상을 #B30000으로 변경 */
}

/* 즉시 점검 필요 텍스트에 깜박이기 애니메이션 추가 */
.warning.blinking {
    animation: blink-text 1s step-start infinite; /* 깜박이기 애니메이션 적용 */
}

/* 깜박이기 애니메이션 정의 */
@keyframes blink-text {
    0% { color: #B30000; }
    50% { color: transparent; }
    100% { color: #B30000; }
}

/* 데이터 목록 표 스타일 */
.data-list-container {
    width: 793px; /* 표의 너비 설정 */
    max-width: 100%; /* 화면 크기에 맞게 너비 조정 */
    position: absolute; /* 자유롭게 위치 조정 가능 */
    top: 60px; /* 경고 박스 아래 위치 설정 */
    left: 5px; /* 원하는 위치로 조정 가능 */
    overflow-x: hidden; /* 가로 스크롤 바 숨김 */
    overflow-y: scroll; /* 세로 스크롤 바 자동 표시 */
    max-height: calc(100vh - 60px); /* 전체 화면 높이에 맞게 최대 높이 설정 */
    background-color: #B0B0B0; /* 컨테이너 배경색을 #B0B0B0으로 설정 */
}

/* 스크롤 바 숨기기 */
.data-list-container::-webkit-scrollbar {
    width: 0px; /* 스크롤 바의 너비를 0으로 설정 */
    background: transparent; /* 배경을 투명하게 설정 */
}

.data-list-container::-webkit-scrollbar-track {
    background: transparent; /* 스크롤 바 트랙 배경을 투명하게 설정 */
}

.data-list-container::-webkit-scrollbar-thumb {
    background: transparent; /* 스크롤 바 thumb 배경을 투명하게 설정 */
}

.data-table {
    width: 100%; /* 테이블 너비를 컨테이너에 맞춤 */
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 10px;
    border: 1px solid #28282A;
    text-align: center; /* 수평 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
}

.data-table th:first-child,
.data-table td:first-child {
    border-left: none;
}

.data-table th:last-child,
.data-table td:last-child {
    border-right: none;
}

.data-table thead {
    background-color: #B0B0B0; /* 헤더 배경색을 #B0B0B0으로 설정 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
}

/* 날짜 및 구역 헤더에 hover 효과 추가 */
#date-header, #zone-header {
    cursor: pointer;
    transition: color 0.3s;
    color: black; /* 텍스트 색상을 블랙으로 변경 */
}

#date-header:hover, #zone-header:hover {
    color: #707070; /* 마우스 오버 시 색상 변경 */
}

.data-table tbody tr:nth-child(even) {
    background-color: #B0B0B0; /* 짝수 행의 배경색을 #B0B0B0으로 설정 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
}

.data-table tbody tr:nth-child(odd) {
    background-color: #B0B0B0; /* 홀수 행의 배경색을 #B0B0B0으로 설정 */
    color: black; /* 텍스트 색상을 블랙으로 변경 */
}

/* 데이터 셀에 마우스 오버 효과 추가 */
.data-table td:hover {
    color: #707070; /* 마우스 오버 시 텍스트 색상 변경 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/* 데이터 셀에 마우스 오버 시 텍스트 색상 변경 */
.data-table tbody tr {
    transition: color 0.3s; /* 색상 변경 애니메이션 */
}

.data-table tbody tr:hover td {
    color: #707070; /* 마우스 오버 시 텍스트 색상 변경 */
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #C6C6C6; /* 모달의 배경색을 #C6C6C6으로 설정 */
    color: black; /* 텍스트 색상 블랙으로 변경 */
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: nanumgothic; /* 모달 텍스트 폰트를 나눔고딕으로 설정 */
    font-weight: bold; /* 모달 텍스트를 볼드체로 설정 */
}

.close-button {
    color: black; /* 닫기 버튼 텍스트 색상 블랙으로 변경 */
    float: right;
    font-size: 28px;
    font-weight: bold; /* 닫기 버튼 텍스트를 볼드체로 설정 */
}

.close-button:hover,
.close-button:focus {
    color: #fefefe; /* 닫기 버튼 호버 시 색상 변경 */
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
    color: black; /* 레이블 텍스트 색상 변경 */
}

form input {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #B0B0B0; /* 입력 칸 배경색을 #B0B0B0으로 설정 */
    color: black; /* 입력 칸 텍스트 색상 블랙으로 변경 */
    border: 1px solid #888; /* 입력 칸 테두리 색상 변경 */
}

form button {
    padding: 10px;
    background-color: #B0B0B0; /* 버튼 배경색을 #B0B0B0으로 설정 */
    color: black; /* 버튼 텍스트 색상 블랙으로 변경 */
    border: none;
    cursor: pointer;
    transition: color 0.3s; /* 텍스트 색상 변화 애니메이션 */
    font-family: nanumgothic; /* 버튼 텍스트 폰트를 나눔고딕으로 설정 */
    font-weight: bold; /* 버튼 텍스트를 볼드체로 설정 */
}

form button:hover {
    background-color: #B0B0B0; /* 버튼 배경색 유지 */
}

form button span {
    transition: color 0.3s; /* 텍스트 색상 변화 애니메이션 */
}

form button:hover span {
    color: #707070; /* 텍스트 색상 변경 */
}
/* 빨간색으로 깜빡이는 효과를 위한 CSS 클래스 */
.red-blinking-text {
    animation: red-blink 1s infinite;
}

@keyframes red-blink {
    0% { color: black; }    /* 검정색에서 시작 */
    50% { color: #b30000; }  /* 빨간색으로 변화 */
    100% { color: black; }   /* 검정색으로 돌아옴 */
}
/* 즉시 점검 필요 상태일 때 빨간색 글씨를 표시하기 위한 CSS 클래스 */
.red-text {
    color: #b30000;
    font-weight: bold;
}
